<!-- 네비 시작 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top justify-content-end">
	<a class="navbar-brand" href="./10_home.html"> <b><em>BookFinder</em></b></a>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a class="nav-link" href="./10_home.html">Home</a></li>
		<li class="nav-item"><a class="nav-link" href="./20_intro.html">소개 </a></li>
		<li class="nav-item"><a class="nav-link" href="./30_rank.html">랭킹 </a></li>
		<li class="nav-item"><a class="nav-link" href="./40_review.html">리뷰 </a></li>
		<li class="nav-item"><a class="nav-link" href="./50_map.html">지도 </a></li>
		<li class="nav-item"><a class="nav-link" href="./60_notice.html">공지사항 </a></li>
		<li class="nav-item"><a class="nav-link" href="./70_cscenter.html">고객센터 </a></li>
		<li class="nav-item"><a class="nav-link" href="./80_signup.html">Sign Up </a></li>
		<li class="nav-item"><a class="nav-link" href="./90_login.html">Login </a></li>
	</ul>
</nav>
<!-- 네비 끝 -->
