<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<sql id="cri">
		<if test="type != null">
			<trim prefix=" and (" suffix=")">
				<choose>
					<when test="type == 'TCW'.toString()">
						rvtitle like '%'||#{keyword}||'%' or
						rvcontent like '%'||#{keyword}||'%' or
						rvwriter like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'TC'.toString()">
						rvtitle like '%'||#{keyword}||'%' or
						rvcontent like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'TW'.toString()">
						rvtitle like '%'||#{keyword}||'%' or
						rvwriter like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'CW'.toString()">
						rvcontent like '%'||#{keyword}||'%' or
						rvwriter like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'T'.toString()">
						rvtitle like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						rvcontent like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'W'.toString()">
						rvwriter like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</if>
	</sql>
	<insert id="add" parameterType="rvvo">
	<![CDATA[	
		insert into TBL_REVIEW(rvno, rvtitle, rvwriter, rvcontent, regd8, modd8, readcount)
		values(seq_review.nextval, #{rvtitle}, #{rvwriter}, #{rvcontent}, sysdate, sysdate, 0)
	]]>
	</insert>
	<select id="list" resultType="rvvo"> 
		<![CDATA[
		SELECT rvno, rvtitle, rvwriter, rvcontent, readcount, modd8
		FROM
		(SELECT /*+INDEX_DESC(tbl_review tbl_reveiw_pk)*/
			rownum rn, rvno, rvtitle, rvwriter, rvcontent, readcount, modd8
			FROM TBL_REVIEW 
			WHERE rvno > 0 
			]]>
		<include refid="cri" />
		<![CDATA[		
		and rownum <= #{pageNum}*#{amount})
		WHERE rn > (#{pageNum}-1)*#{amount}
	 	]]>
	</select>
	<select id="detail" parameterType="java.lang.Integer" resultType="rvvo">
		select * from tbl_review where rvno = #{rvno}
	</select>
	<update id="modify" parameterType="rvvo">
		update
		tbl_review
		set
		rvtitle = #{rvtitle}, rvcontent = #{rvcontent}, modd8 = sysdate
		where
		rvno = #{rvno}
	</update>
	<delete id="remove" parameterType="java.lang.Integer">
		delete from tbl_review where rvno = #{rvno}
	</delete>
	<select id="total" resultType="java.lang.Integer" parameterType="cri">
		select count(rvno) from tbl_review where rvno > 0
		<include refid="cri" />
	</select>
	<update id="upReadCount" parameterType="java.lang.Integer">
		update tbl_review set readcount = readcount + 1 where rvno = #{rvno}
	</update>
</mapper>
