<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.BookFinder.domain.BookVO" alias="bvo" />
		<typeAlias type="com.BookFinder.domain.ReviewVO" alias="rvvo" />
		<typeAlias alias="cri" type="com.BookFinder.domain.Criteria" />
		<!--
		<typeAlias alias="nvo" type="com.BookFinder.domain.NoticeVO" />
		<typeAlias alias="members" type="com.BookFinder.domain.MemberVO"/> 
		-->
	</typeAliases>
</configuration>


  